<template>
  <v-layout row wrap justify-center>
    <v-flex xs12>
      <h1 class="font-weight-light">{{getUsernameById(chatId)}}</h1>
    </v-flex>

    <v-flex xs12>

        <v-sheet elevation="2" height="500" class="pa-3" style="overflow-y: auto">
          <div id="messages" v-for="(message, key) in chatMessages" :key="key">
            <div
              v-if="!sameOwner(chatId, key)"
              :class="(message.income ? 'text-xs-right' : 'text-xs-left')">
              <v-chip small :color="(message.income ? 'blue' : 'green')">
                {{message.income ? getUsernameById(chatId) : 'me'}}
              </v-chip>
            </div>
            <v-card class="ma-1" flat color="light-blue lighten-5">
              <v-card-text>
                {{message.text}}
              </v-card-text>
            </v-card>
          </div>
        </v-sheet>

    </v-flex>

    <v-flex xs12>
      <v-card tile>
        <v-flex xs12>
          <v-form class="mx-3">
            <v-textarea
              auto-grow
              rows="1"
              append-outer-icon="send"
              v-model="message"
              label="Message"
              @click:append-outer="sendMessage"
              @keydown.enter.prevent="sendMessage"
            ></v-textarea>
          </v-form>
        </v-flex>
      </v-card>
    </v-flex>

  </v-layout>
</template>

<script>

  import {mapGetters} from 'vuex'
  import ChatService from '../services/chat.service'

  export default {
    name: 'Chat',
    props: ['chatId'],
    data() {
      return {
        chatMessages: [],
        message: '',
      }
    },

    mounted() {
      this.getMessages()

      this.$store.subscribe((mutation) => {
        if (mutation.type == 'chat/pushMessage' && mutation.payload.userId === this.chatId) {
          this.getMessages()
        }
      })
    },

    watch: {
      '$route.params.chatId' () {
        this.getMessages()

      },
    },

    computed: {
      ...mapGetters('chat', ['getMessagesById', 'sameOwner', 'getUsernameById']),
    },

    methods: {

      async sendMessage() {
        if (this.message === '') {
          return
        }
        let isSend = await ChatService.sendMessage(this.message, this.chatId)
        if (isSend === true) {
          this.message = ''
        }
      },

      getMessages() {
        this.chatMessages = this.getMessagesById(this.chatId)
      },
    }
  }
</script>
