<template>
  <v-layout row wrap justify-center>
    <v-flex xs8>
      <h1 class="font-weight-light">Список чатов</h1>

      <v-card>
        <v-list>

          <template
            v-for="(user, index) in chatUsers"
          >

            <v-list-tile
              :key="user.id"
              avatar
              :to="'/chat/' + user.id"
            >

              <v-list-tile-content>{{user.username}}</v-list-tile-content>
              <v-list-tile-avatar>
                <v-icon>account_circle</v-icon>
              </v-list-tile-avatar>

            </v-list-tile>

            <v-divider
              v-if="index + 1 < chatUsers.length"
              :key="index"
            ></v-divider>

          </template>

        </v-list>
      </v-card>

    </v-flex>

  </v-layout>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "ChatList",
    data() {
      return {
      }
    },

    methods: {

    },

    computed: {
      ...mapGetters('chat', ['chatUsers'])
    }
  }
</script>

<style scoped>

</style>
