<template>
  <v-layout justify-center>
    <v-flex xs12 sm8 lg6>
      <h1 class="font-weight-light">Login form</h1>
      <v-form>
        <v-text-field
          :label="attributeLabels.username"
          name="username"
          type="text"
          autocomplete="off"
          v-model="username"
          :error="errors.has('usename')"
          :error-messages="errors.first('username')"
          v-validate="'required'"
          data-vv-name="username"
          data-vv-validate-on="change|blur"
          @keydown.enter.prevent="loginUser"
        >
        </v-text-field>

        <v-text-field
          :label="attributeLabels.password"
          name="password"
          type="password"
          autocomplete="off"
          v-model="password"
          :error="errors.has('password')"
          :error-messages="errors.first('password')"
          v-validate="'required'"
          data-vv-name="password"
          data-vv-validate-on="change|blur"
          @keydown.enter.prevent="loginUser"
        ></v-text-field>

        <p>
          You may login with <strong>admin/admin</strong> or <strong>demo/demo</strong>.
        </p>

        <v-btn @click="loginUser">Войти</v-btn>

      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import labels from '../mixins/labels'
  import {mapActions} from 'vuex'

  export default {
    name: "Login",
    mixins: [labels],
    data() {
      return {
        username: '',
        password: '',
      }
    },

    created() {
      this.$api.setValidator(this.$validator)
    },

    beforeDestroy() {
      this.$api.deleteValidator
    },

    methods: {
      ...mapActions('auth', ['login']),

      loginUser() {
        this.$validator.validateAll()
          .then(result => {
            if (result) {
              this.login({
                username: this.username,
                password: this.password
              })
            }
          })
      }
    }
  }
</script>

<style scoped>

</style>
