<template>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer
        v-model="drawer"
        app
        fixed
      >
        <v-list dense class="title">
          <v-list-tile to="/">
            <v-list-tile-content>
              <v-list-tile-title>
                Главная
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile to="/chatList">
            <v-list-tile-content>
              <v-list-tile-title>
                Список чатов
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>

      <v-toolbar color="white" fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Меню</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-chip v-if="loggedIn" color="grey" text-color="white">
          <v-avatar>
            <v-icon>account_circle</v-icon>
          </v-avatar>
          {{username}}
        </v-chip>

        <v-btn v-if="loggedIn" flat @click="logout">Выход</v-btn>
      </v-toolbar>

      <v-content>
        <v-container grid-list-md>
          <router-view/>
        </v-container>
      </v-content>

      <v-footer
        color="grey lighten-4"
        app
        inset
        height="auto"
        class="elevation-3"
      >
        <v-flex
          xs12
          text-xs-center
          grey--text
        >
          &copy;2019 <strong>Vue.js + Yii2</strong>
        </v-flex>
      </v-footer>

      <notifications
        group="messages"
        position="bottom right"
      >
        <template slot="body" scope="props">

          <v-icon @click="props.close">close</v-icon>

          <v-list dark class="mb-2 mr-2 pa-0 noty-list">

            <v-list-tile avatar>

              <v-list-tile-avatar>
                <v-icon>account_circle</v-icon>
              </v-list-tile-avatar>

              <v-list-tile-content>
                <v-list-tile-title v-html="props.item.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="props.item.text"></v-list-tile-sub-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-btn small fab color="white"
                  @click="cleanMessageNotifications"
                  :to="'/chat/' + props.item.data.from"
                >
                  <v-icon color="grey">chat</v-icon>
                </v-btn>


              </v-list-tile-action>

            </v-list-tile>
          </v-list>
        </template>
      </notifications>

    </v-app>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import {bus} from './bus'
  import messageNotification from './mixins/messageNotification'

  export default {
    name: 'App',
    mixins: [messageNotification],
    data() {
      return {
        drawer: true
      }
    },

    mounted() {

      if (this.loggedIn) {
        this.$store.dispatch('chat/start')
      }

      bus.$on('incomeMessage', this.notify)
    },

    methods: {
      ...mapActions('auth', ['getChatUsers', 'logout']),

      // messageNotify(message) {
      //   this.notify(message, this.$route)
      // }
      cleanMessageNotifications() {
        this.$notify({
          group: 'messages',
          clean: true
        })
      }
    },

    computed: {
      ...mapGetters('auth', ['loggedIn', 'username']),
      ...mapGetters('chat', ['getUsernameById'])
    }
  }
</script>

<style>

</style>
